@model IEnumerable<LanchesMac.Models.Lanche>

<h2>Todos os Lanches</h2>

@foreach (var lanche in Model)
{
    <div>
        <hr />
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl" /></p>
        <h4>Preço: @lanche.Preco</h4>
    </div>
}

